<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <newWizard
            class="org.eclipse.datatools.enablement.presto.ui.connection.NewPrestoConnectionProfileWizard"
            icon="icons/new_db_element.gif"
            id="org.eclipse.datatools.enablement.presto.connectionProfile.NewConnectionProfileWizard"
            name="%connection.profile.newwizard"
            description = "%connection.profile.newwizard.description"
            profile="org.eclipse.datatools.enablement.presto.connectionProfile"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.datatools.enablement.presto.ui.connection.PrestoProfilePropertyPage"
            id="org.eclipse.datatools.enablement.presto.connectionProfile.profileProperties"
            name="%profile.page.name">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.eclipse.datatools.enablement.presto.connectionProfile"/>
         <enabledWhen>
            <instanceof
                  value="org.eclipse.datatools.connectivity.IConnectionProfile"/>
         </enabledWhen>
      </page>
   </extension>
   
   <extension point="org.eclipse.datatools.connectivity.ui.driverUIContributor">
      <driverUIContributor
            class="org.eclipse.datatools.enablement.presto.ui.connection.drivers.PrestoDriverUIContributor"
            driverTemplateID="org.eclipse.datatools.enablement.presto.0_x.driver"
            id="org.eclipse.datatools.enablement.presto.ui.connection.drivers.0_x.PrestoDriverUIContributor">
      </driverUIContributor>
   </extension>

   <extension
         point="org.eclipse.datatools.sqltools.editor.core.dbConfigurations">
      <dbConfiguration
            configurationClass="org.eclipse.datatools.enablement.presto.ui.core.PrestoDBConfiguration"
            default="false"
            product="Presto"
            version="0.x"
            supportsDebugging="false">
      </dbConfiguration>
   </extension>
   
<!--
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
         <includes>
            <contentExtension pattern="org.eclipse.datatools.enablement.presto.navigatorContent"/>
         </includes>
      </viewerContentBinding>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.datatools.enablement.presto.catalog.PrestoPipelineTreeContentProvider"
            id="org.eclipse.datatools.enablement.presto.navigatorContent"
            labelProvider="org.eclipse.datatools.connectivity.sqm.server.internal.ui.explorer.providers.SQLModelLabelProviderExtension"
            name="%navigator.content.name"
            priority="highest">
         <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="org.eclipse.datatools.connectivity.db.sqlModelContent"/>
         <triggerPoints>
            <instanceof value="org.eclipse.datatools.enablement.presto.catalog.PrestoCatalogSchema"/>
         </triggerPoints>
      </navigatorContent>
   </extension>
-->
</plugin>
